<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GET and POST Checker</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
  </head>
  <body>
      <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
            <h1>How to Implement Class-like Behavior in JavaScript</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2">
            {{!Nav will go here - how to link in?}}
                <h1>Navbar here</h1>
            </div>
            <div class="col-lg-10 col-md-10">
              {{{body}}}  
            </div>
        </div>  
        <div class="row"> <!-- Footer -->
            <div class="col-lg-12">
                <footer>
                <p>Created by Shawn Hillyer for OSU-CS290</p></footer>
            </div>  
        </div> <!-- End footer row div -->
      </div> <!-- End main container div -->
  </body>
</html>