<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Class-like Behavior in JavaScript</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <style>
    li.L0, li.L1, li.L2, li.L3,
    li.L5, li.L6, li.L7, li.L8
    { list-style-type: decimal !important }
    </style>
  </head>
  <body>
      <div class="container">
        <div class="row">
            <div class="jumbotron">
            <h1 class="">How to Implement Class-like Behavior in JavaScript</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2">
            {{!Nav will go here - how to link in?}}
                <h4>Table of Contents</h4>
                <ul class="list-unstyled">
                <li><a href="../">Introduction</a></li>
                <li><a href="?page=2">Motivation</a></li>
                <li><a href="?page=3">Attributes</a></li>
                <li><a href="?page=4">Constructors</a></li>
                <li><a href="?page=5">Prototypes</a></li>
                <li><a href="?page=6">Page 6</a></li>
                <li><a href="?page=7">Page 7</a></li>
                <li><a href="?page=8">Page 8</a></li>
                </ul>
            </div>
            <div class="col-lg-10 col-md-10">
              {{{body}}}  
            </div>
        </div>
          
          <div class="row">
              <div class="col-lg-12 col-md-12">
                  <ul class="pager">
                    {{#if prevPage}}
                      <li><a href="?page={{prevPage}}">Previous</a></li>
                    {{/if}}
                    {{#if nextPage}}
                      <li><a href="?page={{nextPage}}">Next</a></li>
                    {{/if}}
                  </ul>
              </div>
          </div>
          
        <div class="row"> <!-- Footer -->
            <div class="col-lg-12">
                <footer><p>Created by Shawn Hillyer for OSU-CS290</p></footer>
            </div>  
        </div> <!-- End footer row div -->
      </div> <!-- End main container div -->
  </body>
</html>