<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GET and POST Checker</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
  </head>
  <body>
      <div class="container">
        <div class="col-lg-4">
        {{!Nav will go here - how to link in?}}
        </div>
        <div class="col-lg-8">
          {{{body}}}  
        </div>
          
        <div class="row">
            <div class="col-lg-12">
                <footer>
                <p>Created by Shawn Hillyer for OSU-CS290</p></footer>
            </div>  
        </div> <!-- End footer row div -->
      </div> <!-- End main container div -->
  </body>
</html>