        <div class="row">
            <div class="jumbotron">
            <h1 class="">How to Get Started with Android Fragments</h1>
            </div>
        </div>
<!--<h2 class="page-header">How to Get Started with Android Fragments</h2>-->
<p>The fragments API allows a developer to creature modular components that can be reused throughout an application. Fragments have their own lifecycle similar to an Activity. However, an Activity can itself contain one or more fragments.

<p>Why does this matter? In a nutshell, it allows you to design reusable components that can be combined in different ways on devices with varying sizes. The rest of this article assumes that you've read the <a href="https://developer.android.com/guide/components/fragments.html">official android developer guide for fragments</a>. That guide does provide a basic overview and a few code snippets, but it can be hard to see how the pieces fit together. This guide strives to get the novice android developer comfortable with fragments in a practical way.

<p>In addition, it is assumed that you are familiar with the basics of Android apps including the lifecycle of an Activity, resource files (including those in res/layout and res/values), and how to navigate within the Android Studio environment.

<h3>Reading Guide</h3>

<p>This guide is best used as a <em>practical</em>, step-by-step tutorial rather than a reference guide, giving you hands-on experience rather than a textual explanation of the API. When appropriate, links to the official android reference material are provided so that you can dive deeper into the details that you find most interesting.

<h3>Before Continuing</h3>
<p>If you do not have a tablet and a phone to test the applications on during this tutorial, make sure to install a few devices (I'm using Nexus 6 and a Nexus 10) using the ADK in Android Studio. For help, <a href="https://developer.android.com/studio/run/managing-avds.html">go to the official developer page.</a>