<h2 class="page-header">Further Study Topics</h2>
<p>We've done a fair bit of hands-on practice with Fragments, but these are just the essentials to get you going with Fragments. The best way to learn is by practicing and reading through examples. I highly recommend playing around with some of the fragments-based templates in Android Studio - what we've looked at so far should allow you to make sense of some of the logic used.

<p>A good starting point is to <a href="https://developer.android.com/guide/index.html">work through the official Android Developer guide</a>. The content there is very well done, and there are examples of how to use a lot of the concepts there. Additionally, links to official references are available embedded in the articles. The biggest benefit is that the material is current and representative of what a modern developer should be using and doing. Much of the content I found online was out of date or based in previous versions of Android Studio, making examples hard to find.

<p>The Fragment document is very detailed. The page is a "holy scroller!" page if I've ever seen one. As you can see, there's much to learn. Keep usability and functionality at the forefront; when you need to implement some type of behavior or responsive design, always think about how fragments might fit in with the application. 

<p>Good luck and have fun!