<h1>Motivations</h1>
<p><abbr>OO</abbr> (Object-Oriented) Programming seems to be around for the long haul. There are some misconceptions about JavaScript that are often overlooked by newcomers to JavaScript and professionals alike. One misconcenption I have heard s that "everything in JavaScript is a class". There's also some confusion about how closures work, hoisting, and a variety of other topics.</p>
<p>It is very likely that you will find yourself want to use classes in most modern high level languages, especially if you come from another OO language to begin with. When I first picked up a JavaScript book, I was fooled by the familiar (and yet different) syntactical similarities to C and CPP. But you cannot, until recently, just make a class by typing something like this:</p>
<code>class Shape {
    var sides;
    var color;
}</code>

<p>And then instantiate it like we would in another language:</p>
<code>var redSquare = new Shape;
redSquare.sides = 4;
redSquare.color = red;</code>

<p>Things are a lot more convoluted than that! So let's create a function that returns an object using JavaScript. By convention, it should have a capital letter to indicate to the user that this is a constructor method:</p>

<code></code>